$primary : #0A68FF;
$secondary : #808089;
$danger : #ff424f;
$dark : #38383D;
$secondary-emphasis : #242424;
$black : #27272A;
$light : #F5F5FA;
$text-light-emphasis : #C4C4CF4D;
@import '../node_modules/bootstrap/scss/bootstrap.scss';