:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
